body {
    width: 100%;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-cards {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3%;


}

.subtitulo {
    font-size: 40px;
    margin-left: 1%;
    color: rgb(2, 2, 107);
    text-align: center;
}

.row-cards article {
    width: 18%;
    margin: 1%;
    background-color: white;
    border: 2px solid rgb(29, 29, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5%;
}

.row-cards article:hover {
    border: 2px solid rgb(29, 29, 255);
    box-shadow: 0px 0 8px #0011ff;

}

.detalles {
    color: blue;
    margin-top: 1%;
    font-size: large;
    text-decoration: none;
}

.detalles:hover {
    text-decoration: underline;
}

.row-cards article h2 {
    text-align: center;
}

.row-cards button {
    margin: 1%;

    background-color: rgb(21, 21, 165);
    border: 1px solid gray;
    color: yellow;
    width: 80%;
    font-size: larger;

}

.row-cards button:hover {
    width: 83%;
}

.titulo-peli {
    width: 90%;
    height: 15%;
}

.row-cards article img {
    width: 100%;
}

.boton-mas-pelis {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.boton-mas-pelis button {
    background-color: white;
    color: black;
    width: 15%;
    border: 2px solid gray;


}

.boton-mas-pelis button:hover {
    width: 16%;
}

.ver-todas {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.boton-pelis {
    background-color: white;
    color: black;
    width: 15%;
    border: 2px solid gray;
}


@media (max-width: 480px) {

    .row-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .sigle-card-movie{
        width: 90%;
    }
    .row-cards article {
        width:45%;
        margin: 0;
        padding: 10px;
    }

    .row-cards article img {
        width: 100%;
        height: auto;
    }

    .row-cards article h2 {
        display: none;
    }

    .row-cards button {
        width: 100%;
        font-size: 14px;
        padding: 6px;
    }

    .detalles {
        font-size: 14px;
    }

    .subtitulo {
        font-size: 24px;
    }

    .boton-mas-pelis button,
    .boton-pelis {
        width: 80%;
    }

}