*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}






.search-form, .filter-form {
    padding: .5rem 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}



body {
        background-color: rgb(255, 243, 138);
        width: 100%;

}

.buscador{
    width: 90%;
    display: flex;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
}

.form-buscador{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.campo-buscar{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}

.form-buscador input{
    margin: 1%;
}

.boton-busqueda{
    width: 15%;
}

.subtitulo {
    font-size: 40px;
    margin-left: 1%;
    color: rgb(13, 71, 161);
    text-align: center;
}

.filter-form {
    grid-template-columns: 1fr;
}
.search-form .btn-sm{
    line-height: 1;
    font-size: 0.9rem;
}
.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}
.filter-form input {
    line-height: 1.5;
}
.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}
.cardBody {
    margin-top: 20px;
}
.single-card-people {
    width: 19%;
}
.single-card-movie {
    width: 20%;
}
.single-card-playing {
    width: 15%;
}
#now-playing .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-tv {
    width: 19%;
}
.tv-show .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-on-air{
    width: 15%;
}
#on-air-today .card-text{
    height: 100px;
    overflow: hidden;
}

.all-movies .single-card-movie {
    width: 15%;
}

.logo-azul{
    width: 15%;
}



@media (max-width: 480px) {

    .cards {
        justify-content: center;
        gap: 15px;
    }

    .single-card-movie,
    .single-card-people,
    .single-card-tv,
    .single-card-playing,
    .single-card-on-air {
        width: 45%;
    }

    .cardBody h3 {
        font-size: 14px;
        text-align: center;
    }


    .boton {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

}