.movie-card{
    display: flex;
    flex-direction: row;
    margin: 1%;
    border: 2px solid blue;
    background-color: white;
    
}

.derecha{
    margin-left: 1%;

}

.derecha h2{
    font-size: 50px;
}

.derecha p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}

.derecha span{
    color: rgba(0, 0, 123);
}

.lista{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.lista li{
    margin: 1%;
        color: rgb(214, 193, 0);;

    font-size: large;

}

