.Logo {
    width: 150px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.main-nav{
    width: 60%;
}

.user{
    width: 30%;

}

.nav a{
    color: rgb(255, 226, 64);
    text-decoration: none;
    font-size: large;
    font-weight: 300;
}
.nav a:hover{
    font-weight: 600;
}

.nav ul{
    list-style-type: none;
    display: flex;
}

.nav li{
    margin: 2%;
}

header{
    background-color: rgba(0, 0, 123);
}